#------------------------------------------------------------------------------
# Common Parameters for PostgreSQL
#------------------------------------------------------------------------------
full_page_writes = off
listen_addresses = '*'
logging_collector = on
max_prepared_transactions = 10
max_worker_processes = 128
max_connections = 1000
password_encryption = md5
shared_buffers = 256MB
shared_preload_libraries ='\$libdir/polar_vfs,\$libdir/polar_io_stat,\$libdir/polar_monitor_preload,\$libdir/polar_worker'

#------------------------------------------------------------------------------
# Common Parameters for PolarDB
#------------------------------------------------------------------------------
polar_disk_name = 'home'
polar_enable_shared_storage_mode = on
polar_vfs.localfs_mode = true
polar_logindex_mem_size=64MB
polar_xlog_queue_buffers=64MB
polar_xlog_page_buffers=64MB
polar_has_partial_write=on

#------------------------------------------------------------------------------
# DataMax (off by default; set to "standalone" together with standby.signal to
# turn the node into a WAL-only datamax receiver).
#------------------------------------------------------------------------------
#polar_datamax_mode = off
#polar_datamax_archive_timeout = 60s
#polar_datamax_remove_archivedone_wal_timeout = 60s
#polar_datamax_save_replication_slots_timeout = 5min
#polar_datamax_prealloc_walfile_timeout = 30s
#polar_datamax_prealloc_walfile_num = 2
